body {
	text-align: center;
	font-family: Helvetica;
}
h1 {
	font-size: 70px;
	font-weight: bold;
	color: white;
}
#top {
	background-image: url(the-flatiron-building.png);
}
nav {
	font-size: 18px;
	font-weight: bold;
}
ul {
	list-style-type: none;
	line-height: 33px;
}
#divider {
	background-image: url(the-flatiron-building.png);
	font-size: 23px;
	font-weight: bold;
	color: white;
}
h2 {
	font-size: 32px;
	font-weight: bold;
}
h3 {
	font-size: 23px;
	font-weight: bold;
}
p {
	font-size: 14px;
}
.footer {
	color: white;
	background-color: dimgray;
	text-align: left;
}
#footer {
	font-size: 11px;
}
span {
	font-size: 16px;
	font-weight: bold;
}
a {
	color: white;
}
